CALocalMoneyPort/CALocalMoneyPort/wsdl.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. 
  -->
<!-- 
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. 
  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.bcv.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.bcv.org/" name="autorizacion">
    <types>
     <xsd:schema>
      <xsd:import namespace="http://service.bcv.org/" schemaLocation="C:\Users\ehernandeza\Desktop\casacambio.xsd" />
    </xsd:schema>
  </types>-->
   <message name="VENTADIV">
    <part name="parameters" element="tns:VENTADIV" />
  </message>
   <message name="VENTADIVResponse">
    <part name="parameters" element="tns:VENTADIVResponse" />
  </message>
   <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
   <message name="COMPRADIV">
    <part name="parameters" element="tns:COMPRADIV" />
  </message>
   <message name="COMPRADIVResponse">
    <part name="parameters" element="tns:COMPRADIVResponse" />
  </message>
   <message name="MOTIVOS">
    <part name="parameters" element="tns:MOTIVOS" />
  </message>
   <message name="MOTIVOSResponse">
    <part name="parameters" element="tns:MOTIVOSResponse" />
  </message>
   <message name="TIPOSMOVIMIENTOS">
    <part name="parameters" element="tns:TIPOSMOVIMIENTOS" />
  </message>
   <message name="TIPOSMOVIMIENTOSResponse">
    <part name="parameters" element="tns:TIPOSMOVIMIENTOSResponse" />
  </message>
   <message name="MOVIMIENTOS">
    <part name="parameters" element="tns:MOVIMIENTOS" />
  </message>
   <message name="MOVIMIENTOSResponse">
    <part name="parameters" element="tns:MOVIMIENTOSResponse" />
  </message>
   <portType name="autorizacion">
     <operation name="VENTADIV">
      <input wsam:Action="http://service.bcv.org/autorizacion/VENTADIVRequest" message="tns:VENTADIV" />
      <output wsam:Action="http://service.bcv.org/autorizacion/VENTADIVResponse" message="tns:VENTADIVResponse" />
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/autorizacion/VENTADIV/Fault/Exception" />
    </operation>
     <operation name="COMPRADIV">
      <input wsam:Action="http://service.bcv.org/autorizacion/COMPRADIVRequest" message="tns:COMPRADIV" />
      <output wsam:Action="http://service.bcv.org/autorizacion/COMPRADIVResponse" message="tns:COMPRADIVResponse" />
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/autorizacion/COMPRADIV/Fault/Exception" />
    </operation>
     <operation name="MOTIVOS">
      <input wsam:Action="http://service.bcv.org/autorizacion/MOTIVOSRequest" message="tns:MOTIVOS" />
      <output wsam:Action="http://service.bcv.org/autorizacion/MOTIVOSResponse" message="tns:MOTIVOSResponse" />
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/autorizacion/MOTIVOS/Fault/Exception" />
    </operation>
     <operation name="TIPOSMOVIMIENTOS">
      <input wsam:Action="http://service.bcv.org/autorizacion/TIPOSMOVIMIENTOSRequest" message="tns:TIPOSMOVIMIENTOS" />
      <output wsam:Action="http://service.bcv.org/autorizacion/TIPOSMOVIMIENTOSResponse" message="tns:TIPOSMOVIMIENTOSResponse" />
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/autorizacion/TIPOSMOVIMIENTOS/Fault/Exception" />
    </operation>
     <operation name="MOVIMIENTOS">
      <input wsam:Action="http://service.bcv.org/autorizacion/MOVIMIENTOSRequest" message="tns:MOVIMIENTOS" />
      <output wsam:Action="http://service.bcv.org/autorizacion/MOVIMIENTOSResponse" message="tns:MOVIMIENTOSResponse" />
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/autorizacion/MOVIMIENTOS/Fault/Exception" />
    </operation>
  </portType>
   <binding name="autorizacionPortBinding" type="tns:autorizacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
     <operation name="VENTADIV">
      <soap:operation soapAction="" />
       <input>
        <soap:body use="literal" />
      </input>
       <output>
        <soap:body use="literal" />
      </output>
       <fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </fault>
    </operation>
     <operation name="COMPRADIV">
      <soap:operation soapAction="" />
       <input>
        <soap:body use="literal" />
      </input>
       <output>
        <soap:body use="literal" />
      </output>
       <fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </fault>
    </operation>
     <operation name="MOTIVOS">
      <soap:operation soapAction="" />
       <input>
        <soap:body use="literal" />
      </input>
       <output>
        <soap:body use="literal" />
      </output>
       <fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </fault>
    </operation>
     <operation name="TIPOSMOVIMIENTOS">
      <soap:operation soapAction="" />
       <input>
        <soap:body use="literal" />
      </input>
       <output>
        <soap:body use="literal" />
      </output>
       <fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </fault>
    </operation>
     <operation name="MOVIMIENTOS">
      <soap:operation soapAction="" />
       <input>
        <soap:body use="literal" />
      </input>
       <output>
        <soap:body use="literal" />
      </output>
       <fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </fault>
    </operation>
  </binding>
   <service name="autorizacion">
     <port name="autorizacionPort" binding="tns:autorizacionPortBinding">
      <soap:address location="http://asuccs04-d:9630/service/autorizacion" />
    </port>
  </service>
</definitions>

